head
  title #{title}
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="theme-color" content="#374c6b")
  link(rel="icon" type="image/vnd.microsoft.icon" href="./favicon.ico")
  link(rel="SHORTCUT ICON" href="./favicon.ico")
  meta(name="revisit" content="2")
  meta(name="robots" content="index, follow")
  meta(name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1")
  meta(name="description" content="selection4test")
  meta(name="keywords" content="selection,test,selection4test")
  meta(name="author" content="Den Pol,amstel,selection4test")
  meta(http-equiv="cleartype" content="on")
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous")
  script(type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
